@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    background: #081870;
    --blue-king: #081870;
    --fucsia: #CA6FFA;
    --purple:#8232D1;
    --blue-baby: #44B9F1;
    --blue-pale:#059BBC;

}
body{
    text-align: center;
    font-family:  'Raleway', sans-serif;;
}
a{
    text-decoration: none;
}
h1{
   font-size: 2.25em; 
   color: var(--fucsia);
}
h2{
    font-size: 1.8em; 
    color: var(--blue-baby);
 }
 h3,h5{
     color: white;
     
 }
 p{
     color: white;
 }
 a{
     text-decoration: none;
 }
 button{
     color: white;
     background-color:#8232D1;
     border: 2px solid #8232D1;
     border-radius: 10px;
     padding: 1%;
 }
 label{
     color: #8232d1;
 }

 /*HEADER*/
 header{
     display: grid;
     grid-template-areas:
     "logo"
     "items"
    
    ;
     
 }

 .logo{
     grid-area: logo;
     margin: 20px;
     justify-self: center;
 }
 .logo img{
    width: 90%;

}

.dropdown{
    grid-area:items ;
    justify-self: center;
    align-self: center;
}
.down-arrow{
    justify-self: baseline;
    margin-left: 30px;
  }
  .down-arrow i{
    color: var(--blue-baby);
    font-size:30px ;
  
  }
  
  #chk-menu{
    display: none;
  }
  #chk-menu:checked ~ .items{
    display: block;
    display: flex;
    flex-direction: column;
    
  }
  .btn-dropdown{
      
    color: white;
    cursor: pointer;/*Al pasar por encima muestra la manito*/
  }
  .items{
      display: none;
    justify-self: center;
   
    padding: 10px 150px;
  }
  
  .item{
    padding: 0.7rem;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .item:hover{
    color: var(--blue-baby);
  }
  .search{
      border: 2px solid #8232D1;
      border-radius: 25px;
      
  }

/*----------Principal----------*/
.principal{
    display: grid;
    grid-template-areas: 
    "name"
    "profession"
    "left-one"
    "button-one"
    "social";  
    gap: 7px;
}
.social a{
    grid-area: social;
    color: var(--blue-baby);
}
.title-one{
    grid-area: name;
}
.title-two{
    grid-area: profession;
}
.btn-one{
    grid-area:button-one;
}
.btn:hover{
    background-color: #081870;
}
.btn-outline:hover{
    background-color: #8232D1;
}
.left{
    grid-area: left-one ;
   
}
.btn-right{
    position: relative;
    top: 20px;
    margin: 0 15px 0 200px;
}

.btn-left{
    position: relative;
    bottom: 20px;
    margin: 0 200px 0 10px;
}
/*----------About me----------*/
.aboutme{
    margin: 30px 0;
}

/*----------tools----------*/
.tools{
    margin: 30px 0;
}
.tools-img{
    width: 200px;

}
/*----------projects----------*/
.projects{
    margin: 30px 0;
}


/*--------Botones----------*/
.btn-outline{
    background-color: #081870;
    padding:  1% 3%;
    margin: 0 20px;
}
.btn-color{
    border: none;
    background: rgb(178,90,236);
    background: linear-gradient(180deg, rgba(178,90,236,1) -4%, #8232d1 0%, rgba(155,71,223,1) 17%, rgba(178,90,236,1) 41%, rgba(144,119,237,1) 56%, rgba(126,135,238,1) 69%, rgba(89,167,240,1) 85%, rgba(68,185,241,1) 94%);
    padding: 2% 5%;

}
/*----------Main skills----------*/

.skills{
    margin: 30px 0;

}
.icons{
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    
}
.rectangle{
    width: 90px;
}

.circle{
    width: 40px;
    height: 40px;
    border: none;
    background: rgb(178,90,236);
    background: linear-gradient(180deg, rgba(178,90,236,1) -4%, #8232d1 0%, rgba(155,71,223,1) 17%, rgba(178,90,236,1) 41%, rgba(144,119,237,1) 56%, rgba(126,135,238,1) 69%, rgba(89,167,240,1) 85%, rgba(68,185,241,1) 94%);
    padding: 10%;
    border-radius: 50%;
   margin: 25% ;
   
}
.second{
    display: none;
}
/*-------Message---------*/
.message{
    margin: 30px 0;
}
    
 .icons-two{
    color: #8232d1;
}
.icons-three{
    color: #CA6FFA;
}
.contact-one{
    display: flex;
}
.contact{
    margin: 3% 30%;
}
.contact-one{
    padding: 5%;
}
.contact-one i{
    padding: 0 5%;
}
.forms{
    border: 2px solid var(--fucsia);
    padding: 20px;
    border-radius: 30px;

}
.form{
    margin: 30px;
}




/*Footer*/
footer{
    margin: 3% 0 0;
    padding: 3%;
    background: linear-gradient(#132A90, #44B9F1);
    color: white;

}

.social-footer{
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}
.social-footer a{
    text-decoration: none;
    color: white;
}

.text{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}


.footer-year{
    font-size: 1.3em;
}

@media screen and (min-width:728px) {
    header{
        grid-template-areas:
        "logo items";
        grid-template-columns: 25% 75%;
        
    }

    .logo{
        justify-self: left;
    }
    .logo img{
        width: 100%;
 
    }

    .btn-dropdown{
        display: none;
    }
   
    .items{
        background-color: var(--blue-king);
        display: block;
        display: flex;
        justify-content:space-between ;
        flex-direction: row;
        justify-self: center;
        
    }
    /*Principal*/
    .principal{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        "name left-one social"
        "profession left-one social"
        "button-one left-one social"
        "button-one left-one social"
        ; 
        gap: 0px; 
    }
    .title-one{
        align-self:flex-end;
    }
    .btn-one{
        display:flex;
        align-self:baseline;
    }
    .btn{
        padding: 0 20%;
        
    }
    .btn-outline{
        justify-content: center;
        padding: 15%;
    }
    .social{
        transform: rotate(-90deg);
        grid-row: 2/4;


    }
    /*----------About me----------*/
    .aboutme{
        display: grid;
        grid-template-columns:auto auto ;
    
    }
    .image-about{
        margin: 50px;

    }
    .text-about{
        margin: 2% 0;
        
    }
    .text-about h2{
        padding: 4% 0;
    }
    .text-about p{
        padding: 5% 30%;
    }
    /*----------Message----------*/
    
    .icons-two{
        color: #8232d1;
    }
    .icons-three{
        color: #CA6FFA;
    }
    .contact-one{
        display: flex;
    }
    .message{
        display: grid;
        grid-template-areas: 
        "right contact";
        margin: 30px 0;
    }
    .right{
        grid-area: right;
        grid-column: 1;
        margin: 22% 0;
        
    }

    .left{
        grid-area: contact;
        margin: 3% 20%;
        grid-column: 2;
        grid-row: 1/5;
        
    }
    .contact-one{
        padding: 5%;

    }
    .tools-img{
        width: 350px;
    
    }
     
    .second{
        display: block;
    }
    
    }

@media screen and (min-width:1024px) {

    .left img{  
        grid-column: 2;
        
    }
    .btn-right{
        float: right;
        position:relative;
        top: 10px;
        right: 40px;
        margin: 0 15px 0 300px;
    }
    
    .btn-left{
        position: relative;
        right: 10px;
        margin: 0 200px 0 10px;
    }
    /*----------tools----------*/
    .tools{
        display: flex;
    }
    .text-tool{
        margin: 120px 50px;
    }
    .tools-img{
        margin: 0 20px;
    }
    .text-about h2{
        padding: 0% 0;
    }
    .text-about p{
        padding: 5% 4%;
    }

}

@media screen and (min-width:1440px) {
    
    .left img{  
        position: relative;
        left: 210px;
        
    }
    .btn-right{
        float: right;
        top: 5px;
        right: 60px;
        margin: 0 15px 0 300px;
    }
    
    .btn-left{
        position: relative;
        bottom: 10px;
        right: 120px;
        margin: 0 200px 0 10px;
    }

    .tools-img{
        margin: 0 120px;
    }

}